.app-sider {
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  z-index: 10;
  .ant-menu-submenu-title {
    padding: 0 24px !important;
  }
}

.app-header {
  padding: 0 20px;
  height: 48px;
  line-height: 48px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.app-container {
  transition: all 0.2s;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
